.header {
  display: flex;
  justify-content: space-between;
  margin: 10px;
  border: 1px solid black;
}

.nav-item > ul {
  list-style-type: none;
  display: flex;
}

.nav-item > ul > li {
  padding: 10px;
}
.nav-item > ul > .Loginbutton {
  width: 50px;
}

.logo {
  width: 160px;
}

.card {
  width: 200px;
  padding: 10px;
  margin: 10px;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.card > img {
  width: 100%;
  height: 200px;
}

.restraunt-list {
  display: flex;
  flex-wrap: wrap;
}

.search-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-input {
  height: 30px;
  width: 220px;
  border-radius: 8px;
  margin-right: 5px;
  padding-left: 7px;
  border: none;
  background-color: rgb(202, 200, 200);
  color: white;
  font-weight: bolder;
}

.search-btn {
  height: 32px;
  width: 75px;
  border-radius: 8px;
  border: none;
  background-color: rgb(234, 146, 32);
  color: white;
  font-weight: bolder;
}

.search-input::placeholder {
  color: white;
}

.search-input:focus {
  outline: none;
  border: none;
}

.shimmer-effect {
  width: 200px;
  height: 200px;
  background-color: rgb(228, 228, 228);
  margin: 10px;
  margin-bottom: 20px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 2px 4px;
}

.restaurantMenu {
  display: flex;
}
